body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
}

header {
    background-color: #111;
    padding: 20px 0;
}

h1 {
  position: relative;
  top: 40px;
  text-align: center;
  font-size: 28px;
  font-weight: bolder;
}

h3 {
  color: #36a9f7;
}

.logo {
    float: left;
    position: absolute;
    top: 0;
    
}

.logo img {
    position: relative;
    top: 10px;
    max-width: 80px;
    height: auto;
    border: 4px solid black;
    border-radius: 50px;
    touch-action: none;
}

nav {
    position: relative;
    z-index: 1;
}
nav ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
  font-weight: bolder;
    text-decoration: none;
    color: #ffffff;
}

.games {
    padding: 50px 0;
}

.games .game {
    float: left;
    width: 33.33%;
    padding: 0 10px;
    box-sizing: border-box;
    text-align: center;
}

.games .game img {
    width: 100%;
    border-radius: 20px;
}

.games .game a {
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #1f1f1f;
  text-align: center;
  z-index: 2;
}

footer p {
  color: #ffffff;
  font-size: 16px;
}

footer a {
  text-decoration: none;
  color: #36a9f7;
}

.watermark {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #686868;
  pointer-events: none;
}